.container__repolist {
    margin-top: 0;
    border-top: 0;
    background-color: aliceblue;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.repoitem {
    align-items: center;
    align-content: center;
    text-align: center;
}

.h3__loading-screen{
    display: flex;
    align-items: center;
    justify-content: center;
}
