.container__repolist {
    margin-top: 0;
    border-top: 0;
    background-color: aliceblue;
    /* background: linear-gradient(to bottom, aqua, lightgreen); */
    padding: 15px;
}

.repoitem {
    align-items: center;
    align-content: center;
    text-align: center;
}
