
.button {
    background-color: darkblue;
    color: white;

}

.form-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vhs;
    scale: 1.5;
}

.form-container.button {
    size: 80px;
}

#search-box {
    background-color: aqua;
    /* padding-top: 0;
    margin-top: 0;
    border-top: 0; */
}

#title {
    text-align: center;
    padding-top: 10%;
    margin-top: 0;
    border-top: 0;
    padding-bottom: 40px;
}

